@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap'); /* Import Josefin Sans SemiBold */

body {
  /* Gradient background */
  background: linear-gradient(to bottom, #e4e3e3 0%, #000000 80%, #000000 100%);
  /* Ensure the gradient covers the entire viewport */
  height: 100vh;
  margin: 0;
  /* Center content */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Change text color if needed */
}

.container {
  position: absolute;
  bottom: 1in;
  left: 1in;
  animation: slideInFromLeft 1s ease-in-out;
}

@media (max-width: 768px) { /* Target screens up to 768px wide (typical mobile breakpoint) */
  .container {
    bottom: 0.5in; /* Adjust for mobile */
    left: 0.5in; /* Adjust for mobile */
  }
}

.heading {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 62px;
  color: white;
  margin-bottom: 0.5rem;
  animation: none;
}

.subheading {
  font-family: Arial;
  font-size: 20px;
  color: lightgrey;
  font-weight: bold;
  animation: none;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
